# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log
logs/*.log
pids
*.pid
*.seed
*.pid.lock

# Build / dist
dist/
build/

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Coverage
coverage/

# OS
.DS_Store
Thumbs.db

# IDEs / Editors
.vscode/
.idea/
*.swp

# Sequelize migrations (si no querés subirlas, opcional)
migrations/

# Temporary files
tmp/
